{% extends "base.html" %}

{% block content %}
{% load static %}
<main id="setting">
    <section>
        <a class="icon_setting" href="アイコン変更"><img src="image/icon1.PNG" class="icon" alt="アイコン"></a>
        <div class="setting_box">
            <div>
                Level.
                <span class="my_level">1</span>
            </div>
            <div>
                Exp
                <span class="my_level_exp">0</span>
                /1000
            </div>
            <div>
                <a href="" class="gacha_image"><img src="image/gacha0.PNG" alt=""></a>
            </div>
        </div>
    </section>
    <section class="setting_box">
        <h3>ニックネーム</h3>
        <input type="text" class="input_text" value="熱太">
        <h3>メールアドレス</h3>
        <input type="mail" class="input_text" value="○○○○○○@gmail.com">
        <h3>パスワード</h3>
        <input type="password" class="input_text"value="*********">
        <input class="button" type="submit" value="変更する">
    </section>
</main>
{% endblock %}