{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sanitize" type="text/css" href="{% static 'css/sanitize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--スライドショーにslickを使う-->
    <link rel="stylesheet" href="{% static 'js/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'js/slick/slick-theme.css' %}">
    <title>NetA</title>
</head>
<header>
    <div class="header_menu">
        <div class="header_flex_image">
            <a href="{% url 'net_a_tutorial' %}"><img class="logo" src="{% static 'img/logo.PNG' %}" alt="ロゴ"></a>
            <div class="header_space center_space"></div>
            <!--アイコン,my_page.htmlへ-->
            <a href="{% url 'index' %}">ホ</a>
            <a href="{% url 'my_page' %}"><img src="{% static 'img/icon1.PNG' %}" class="icon" alt="アイコン"></a>
            <div class="header_space"></div>
        </div>
        <div class="search_menu">
            <div><input type="button" value="絞り込み" class="search_filter" width="150" height="30"></div>
            <div><input type="text" class="search_ber" width="10" height="30"></div>
        </div>
        <div>
            <a href="{% url 'index' %}">ホーム</a>
            <a href="{% url 'admin:index' %}">管理画面</a>
        {% if user.is_authenticated %}
            <a href="{% url 'user_logout' %}">ログアウト</a>
        {% else %}
            <a href="{% url 'register' %}">登録画面</a>
            <a href="{% url 'user_login' %}">ログイン</a>
        {% endif %}
            <a href="{% url 'info' %}">インフォメーション</a>
        </div>
        <!--<div class="search_right"></div>-->
    </div>
    <div class="separator_line"></div>
</header>
{% block content %}
{% endblock %}
<footer>
    <div class="footer">
        <div class="separator_line"></div>
        <div class="footer_menu">
            <a href="description.php">NetAはどういうサイト？</a>
            <div>xxxxxxxx@neta.co.jp</div>
            <a href="privacy.php">利用規約</a>
        </div>
    </div>
</footer>
</body>
</html>