{% extends "base.html" %}

{% block content %}
<main>
    <h2>自分の投稿</h2>
    <section class="list_image">
        <div class="list_image_box">
        {% for fish_info in my_fishs %}
            {% if fish_info.preview %}
            <a href="{% url 'edit_fish_info' fish_info.id %}">
                <div class="list_image_item">
                    <div>
                        <div>{{ fish_info.name }}</div>
                        <img src="{{ fish_info.preview.url }}" alt="{{ fish_info.name }}" width="100%">
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
        </div>
    </section>

<h2>閲覧履歴</h2>

    <section class="list_image">
        <div class="list_image_box">
            {% for history in histories %}
            <a href="{% url 'fish_info' history.fish.id %}">
                <div class="list_image_item">
                    <div>
                        <div>{{ history.fish.name }}</div>
                        {% if history.fish.preview %}
                        <img src="{{ history.fish.preview.url }}" alt="{{ history.fish.name }}" width="100%">
                        {% endif %}
                    </div>
                </div>
            </a>
            {% empty %}
                <p>閲覧履歴はありません。</p>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}