{% extends "base.html" %}

{% block content %}
{% load static %}
<main class="">
    <h2>登録画面</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!--forで対応するモデルを関連付ける .id_for_label: Djangoフォームフィールドのメソッドで、そのフィールドに対応するHTML入力要素のIDを返します。このIDは、ラベルタグ(<label>)のfor属性と入力タグ(<input>, <textarea>など)のid属性とを一致させるために使われます。-->
        <div class="form_menu">
            <label for="{{user_form.username.id_for_label}}" class="form_input">{{ user_form.username.label }}</label>
            {{ user_form.username }}
        </div>
        <div class="form_menu">
            <label for="{{user_form.email.id_for_label}}" class="form_input">{{ user_form.email.label }}</label>
            {{ user_form.email }}
        </div>
        <div class="form_menu">
            <label for="{{user_form.password.id_for_label}}" class="form_input">{{ user_form.password.label }}</label>
            {{ user_form.password }}
        </div>
<!--
        <div class="form_menu">
            <label for="{{profile_form.icon.id_for_label}}" class="form_input">{{ profile_form.icon.label }}</label>
            {{ profile_form.icon }}
        </div>
        {{ profile_form.as_p }}写真とウェブサイトの表示
        あとはちゃんとデータベースで塗るを許可してね-->
        <div class="form_menu"><input type="submit" class="button_css" value="登録"></div>
    </form>
</main>
{% endblock %}