<!DOCTYPE html>
<html lang="en">
<body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sanitize" type="text/css" href="sanitize.css">
    <!--スライドショーにslickを使う-->
    <link rel="stylesheet" href="./slick/slick.css"><link rel="stylesheet" href="./slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>NetA</title>
</head>
<header>
    <div class="header_menu">
        <div class="header_flex_image">
            <img class="logo" src="image/logo.png" alt="ロゴ">
            <div class="header_space center_space"></div>
            <!--アイコン,my_page.htmlへ-->
            <a href="my_page.html"><img src="image/icon1.png" class="icon" alt="アイコン"></a>
            <div class="header_space"></div>
        </div>
        <div class="search_menu">
            <div><input type="button" value="絞り込み" class="search_filter" width="150" height="30"></div>
            <div><input type="text" class="search_ber" width="10" height="30"></div>
        </div>
        <!--<div class="search_right"></div>-->
    </div>
    <div class="separator_line"></div>
</header>
<main>
    <div class="menu">
        <h2>人気の魚</h2>
        <section class="slide_image">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
        </section>
        <h2>最近の投稿</h2>
        <section class="slide_image">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
            <img src="image/logo1.jpg" alt="ロゴ" width="300" height="200">
        </section>
        <h2>＃タグから探す</h2>
        <section>
            <h3>淡水魚</h3>
            <div class="category">
                <div>ポリプテルス</div>
                <div>アロワナ</div>
                <div>プレコ</div>
                <div>パクー</div>
                <div>カラシン(テトラなど)</div>
                <div>プラティ・メダカなど</div>
                <div>ローチ</div>
                <div>エンゼルフィッシュ</div>
                <div>ディスカス</div>
                <div>シクリッド</div>
                <div>コリドラス</div>
                <div>キクラ</div>
                <div>エイ</div>
                <div>ベタ</div>
                <div>ナマズ</div>
                <div>フグ</div>
                <div>エビ・貝・カニ</div>
                <div>汽水魚</div>
                <div>その他熱帯魚</div>
                <div>金魚</div>
                <div>鯉</div>
                <div>その他淡水魚</div>
            </div>
            <h3>海水魚</h3>
            <div class="category">
                <div>ヤッコ</div>
                <div>チョウチョウウオ</div>
                <div>ハギ</div>
                <div>スズメダイ</div>
                <div>クマノミ</div>
                <div>アジ</div>
                <div>タイ</div>
                <div>カレイ・ヒラメ</div>
                <div>ベラ</div>
                <div>ハゼ</div>
                <div>ギンポ</div>
                <div>ハタ</div>
                <div>カサゴ</div>
                <div>フグ</div>
                <div>カワハギ</div>
                <div>エイ・サメ</div>
                <div>タコ・イカ</div>
                <div>ウニ・ナマコ</div>
                <div>クラゲ</div>
                <div>エビ・貝・カニ（海）</div>
                <div>その他海水魚</div>
            </div>
            <h3>魚の特徴</h3>
            <div class="category">
                <div>混泳が得意な魚</div>
                <div>泳ぎが得意な魚</div>
                <div>単独飼育推奨</div>
                <div>小型魚</div>
                <div>中型魚</div>
                <div>大型魚</div>
                <div>回遊魚・青魚</div>
                <div>底もの</div>
                <div>観賞魚</div>
                <div>卵</div>
                <div>幼魚</div>
                <div>肉食魚</div>
                <div>長細い魚</div>
                <div>古代魚</div>
            </div>
        </section>
    </div>
</main>

<footer>
    <div class="footer">
        <div class="separator_line"></div>
        <div class="footer_menu">
            <a href="description.php">NetAはどういうサイト？</a>
            <div>xxxxxxxx@neta.co.jp</div>
            <a href="privacy.php">利用規約</a>
        </div>
    </div>
</footer>
<!--スライドショーにslickを使う・ローカルだからhttp:を入れる-->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.slide_image').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4
        });
    });
</script>
</body>
</html>